@import '@/assets/styles/mixin.scss';

.recommend {
  .header {
    background: linear-gradient(180deg, #c5f4f3 0%, rgba(255, 246, 232, 0) 61.54%);
  }

  .author {
    font-size: var(--ygm-font-size-s);
    color: #969ba3;
  }

  .bookName {
    width: 69px;
    line-height: 16px;
    margin-top: 5px;
    font-size: var(--ygm-font-size-m);
    @include wrap(2);
  }
}
