.searchHistory {
  font-size: var(--ygm-font-size-m);
  flex: 1;
  margin-top: 32px;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  &.hidden {
    display: none;
  }

  .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 0 16px;
  }

  .list {
    flex: 1;
    overflow: hidden;
    overflow-y: auto;
    padding: 0 16px 16px;
    .listItem {
      display: flex;
      justify-content: space-between;
    }
  }
}
