@import '@/assets/styles/mixin.scss';

.group {
  width: 96px;
  height: 130px;
  border: 1px solid var(--ygm-color-border);
  border-radius: var(--ygm-radius-m);
  padding: 5px;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;

  .icon {
    font-size: var(--ygm-font-size-xl);
    position: absolute;
    right: 3px;
    bottom: 3px;
    color: var(--ygm-color-weak);
  }

  .active {
    color: var(--ygm-color-primary);
  }
}

.groupName {
  width: 69px;
  line-height: 16px;
  margin-top: 5px;
  font-size: var(--ygm-font-size-m);
  @include wrap(1);
}

.groupPopup {
  padding: var(--ygm-padding-xl);
  box-sizing: border-box;
  border-radius: var(--ygm-radius-xl) var(--ygm-radius-xl) 0 0;
  min-height: 80vh;
  overflow: hidden;
  overflow-y: auto;
}
